.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: #6a1b1a;
  color: white;
}

.navbar a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}